/* Empty. Add your own CSS if you like */

@font-face {
  font-family: Poiret;
  src: url(./fonts/PoiretOne-Regular.ttf);
}

:root {
  --primary-color: #C42615;
  --primary-color-dark: #770C01;
  --secondary-color: #B1CE2B;
}



hr {
  border-color: #F55;
  margin: 2em 0;
}

.content {
  background-color: var(--primary-color);
  padding: 1em;
}

.range {
  background-color: rgba(0, 0, 0, 0.25);
  border: none;
  height: 48px;
}

.range-display {
  background-color: rgba(73, 200, 97, 0.75);
  color: white;
  height: 46px;
  line-height: 48px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

.range-label {
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  border-left: 8px solid rgba(73, 200, 97, 0.75);
  color: white;
  background-color: rgba(0, 0, 0, 0.25);
  margin: 15px 0;
  /* left padding doesn't apply to p tags.
     use text-indent as workaround */
  padding: 5px 26px 5px 0;
  text-indent: 24px;
}

.col {
  padding: 0;
  margin: 0 0 1em 0;
}

input[type=range] {
  background-color: transparent;
}