/* Empty. Add your own CSS if you like */

@font-face {
  font-family: Poiret;
  src: url(./fonts/PoiretOne-Regular.ttf);
}

:root {
  --primary-color: #C42615;
  --primary-color-dark: #770C01;
  --secondary-color: #B1CE2B;
}

body {
  font-family: Poiret;
}

hr {
  border-color: #F55;
  margin: 2em 0;
}

.content {
  background-color: var(--primary-color);
  padding: 1em;
}

.time-ctrl {
  text-align: center;
  font-size: 24px;
  font-weight: 800;
  padding: 15px;
  color: #500;
}

.range {
  background-color: rgba(0, 0, 0, 0.25);
  border: none;
}

input[type=range] {
  background-color: transparent;
}