<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Pomo</title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic.cloud.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/filters/time.js"></script>

    <!--Components-->
    <script src="js/components/timer-display/timer-display.component.js"></script>
    <script src="js/components/timer-display/timer-display.controller.js"></script>
  </head>
  <body ng-app="pomoApp">

    <ion-side-menus>
        <ion-side-menu-content>
          <ion-header-bar class="bar bar-header bar-dark">
            <h1 class="title">Pomo</h1>
          </ion-header-bar>
          <ion-content class="content">
            <h3 class="section-label">Session</h3>
            <div class="row">
              <div class="col col-75">
                <div class="item range" ng-init="breakTime = 300">
                  <label class="range-label">Break</label>
                  <input type="range" name="break" min="60" max="1500" step="60" ng-model="breakTime">
                </div>
              </div>
              <div class="col col-25">
                <div class="range-display">
                  <p class="time-ctrl">{{breakTime | time}}</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col col-75">
                <div class="item range" ng-init="workTime = 1500">
                  <label class="range-label">Work</label>
                  <input type="range" name="work" min="300" max="1500" step="60" ng-model="workTime">
                </div>
              </div>
              <div class="col col-25">
                <div class="range-display">
                  <p class="time-ctrl">{{workTime | time}}</p>
                </div>
              </div>
            </div>
            <timer-display></timer-display>
            <button class="button button-outline button-full button-light">Start</button>
          </ion-content>
        </ion-side-menu-content>
    </ion-side-menus>
  </body>
</html>
